<div class="centered-content">
  <div class="modal-box has-bg-light">
    <h1 i18n="@@EditTask" class="title has-text-primary">Edit task</h1>
    <div class="field has-addons">
      <div class="control">
        <form>
          <div class="makeFlex">
            <mat-form-field>
              <input
                matInput
                type="text"
                class="input"
                [formControl]="newTaskName"
              />
              <mat-error
                i18n="@@FieldRequired"
                *ngIf="newTaskName.hasError('required')"
              >
                This field is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <div class="control">
              <button
                class="button is-primary edit-button"
                [routerLink]="['/lists/', currentParams.listId]"
                [disabled]="newTaskName.hasError('required')"
                (click)="editTask()"
              >
                <ng-container i18n="@@Edit">Edit</ng-container>
              </button>
            </div>
          </div>
          <mat-form-field>
            <textarea
              matInput
              class="input"
              type="text"
              [formControl]="newTaskNote"
            >
            </textarea>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              [ngxMatDatetimePicker]="picker"
              placeholder="Choose a date"
              i18n-placeholder="@@ChooseADate"
              [formControl]="newTaskDate"
              [min]="today"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="$any(picker)"
            ></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker color="accent">
            </ngx-mat-datetime-picker>
          </mat-form-field>
        </form>
      </div>
    </div>
    <button
      class="button is-primary new-list-button"
      [routerLink]="['/lists', this.currentParams.listId]"
      i18n="@@GoBack"
    >
      Go Back
    </button>
  </div>
</div>
