<div class="centered-content">
  <div class="modal-box has-bg-light">
    <h1 i18n="@@EditList" class="title has-text-primary">Edit list</h1>
    <div class="field has-addons">
      <div class="control">
        <form>
          <mat-form-field>
            <input
              matInput
              type="text"
              class="input"
              [formControl]="newListName"
            />
            <mat-error
              i18n="@@FieldRequired"
              *ngIf="newListName.hasError('required')"
            >
              This field is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </form>
      </div>
      <div class="control">
        <button
          class="button is-primary edit-button"
          [routerLink]="'/lists/' + currentParams.listId"
          [disabled]="newListName.hasError('required')"
          (click)="editList()"
        >
          <ng-container i18n="@@Edit">Edit</ng-container>
        </button>
      </div>
    </div>
    <div>
      <form>
        <div class="field color-field">
          <p i18n="@@Color">Color:</p>
          <ngx-colors
            ngx-colors-trigger
            style="display: inline-block; margin: 5px"
            [formControl]="colorCtr"
          ></ngx-colors>
        </div>
      </form>
    </div>
    <button
      i18n="@@GoBack"
      class="button is-primary new-list-button"
      [routerLink]="'/lists/' + currentParams.listId"
    >
      Go Back
    </button>
  </div>
</div>
