<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar">
      <h1 class="title has-text-primary">Lists</h1>
      <mat-tab-group color="primary" animationDuration="2000ms">
        <mat-tab
          ><ng-template mat-tab-label
            ><mat-icon color="primary">work_outline</mat-icon></ng-template
          >
          <div class="list-menu">
            <ng-container *ngFor="let list of dataFromLists; let i = index">
              <div
                *ngIf="list.done === false"
                [routerLink]="['/lists', list._id]"
                routerLinkActive="is-active"
                class="list-menu-item"
              >
                <mat-icon
                  class="list-menu-color"
                  *ngIf="
                    list.color &&
                    list.color !== '#ffffff' &&
                    list.color !== 'rgb(255, 255, 255)' &&
                    list.color !== 'hsl(0, 100%, 100%)'
                  "
                  [ngStyle]="{ color: list.color }"
                  >maximize</mat-icon
                >
                <div
                  #container
                  [id]="list._id"
                  class="list-menu-title-container"
                >
                  <p
                    [id]="list._id"
                    #text
                    [class.animation]="isTextTooLong(list._id)"
                    class="list-menu-title"
                  >
                    {{ list.title }}
                  </p>
                  <p
                    [style.margin-left.px]="container.offsetWidth"
                    [class.animation]="isTextTooLong(list._id)"
                    *ngIf="isTextTooLong(list._id)"
                    class="list-menu-title"
                  >
                    {{ list.title }}
                  </p>
                </div>
                <div
                  *ngIf="
                    (deleteModeIsOn === false &&
                      list._id !== deleteModeIsOnFor) ||
                    (deleteModeIsOn === true &&
                      list._id !== deleteModeIsOnFor) ||
                    (deleteModeIsOn === false && list._id === deleteModeIsOnFor)
                  "
                  class="list-menu-item-buttons"
                >
                  <button
                    *ngIf="currentParams.listId === list._id"
                    mat-icon-button
                    (click)="changeListState(list)"
                  >
                    <mat-icon>done_all</mat-icon>
                  </button>
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </div>
                <div
                  *ngIf="
                    deleteModeIsOn === true && list._id === deleteModeIsOnFor
                  "
                  class="list-menu-item-delete-buttons"
                >
                  <button
                    (click)="deleteListById(list._id)"
                    mat-icon-button
                    color="warn"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button
                    (click)="deleteModeIsOn = false"
                    mat-icon-button
                    color="primary"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                <mat-menu #menu="matMenu">
                  <button
                    mat-menu-item
                    color="primary"
                    [routerLink]="['/edit-list', list._id]"
                  >
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                  </button>
                  <button
                    mat-menu-item
                    color="warn"
                    (click)="
                      deleteModeIsOn = true; deleteModeIsOnFor = list._id
                    "
                  >
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </div>
            </ng-container>
          </div>
          <button
            class="button is-primary has-text-white width100"
            routerLink="/new-list"
            (click)="showData()"
          >
            + New list
          </button>
        </mat-tab>
        <mat-tab
          ><ng-template mat-tab-label
            ><mat-icon color="primary">done_all</mat-icon></ng-template
          >
          <div class="list-menu">
            <ng-container *ngFor="let list of dataFromLists; let i = index">
              <div
                *ngIf="list.done === true"
                [routerLink]="['/lists', list._id]"
                routerLinkActive="is-active"
                class="list-menu-item"
              >
                <mat-icon
                  class="list-menu-color"
                  *ngIf="
                    list.color &&
                    list.color !== '#ffffff' &&
                    list.color !== 'rgb(255, 255, 255)' &&
                    list.color !== 'hsl(0, 100%, 100%)'
                  "
                  [ngStyle]="{ color: list.color }"
                  >maximize</mat-icon
                >
                <div class="blue-btn">
                  <p class="list-menu-title">{{ list.title }}</p>
                </div>
                <div
                  *ngIf="
                    (deleteModeIsOn === false &&
                      list._id !== deleteModeIsOnFor) ||
                    (deleteModeIsOn === true &&
                      list._id !== deleteModeIsOnFor) ||
                    (deleteModeIsOn === false && list._id === deleteModeIsOnFor)
                  "
                  class="list-menu-item-buttons"
                >
                  <button
                    mat-icon-button
                    *ngIf="currentParams.listId === list._id"
                    (click)="changeListState(list)"
                  >
                    <mat-icon>work_outline</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    color="warn"
                    (click)="
                      deleteModeIsOn = true; deleteModeIsOnFor = list._id
                    "
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
                <div
                  *ngIf="
                    deleteModeIsOn === true && list._id === deleteModeIsOnFor
                  "
                  class="list-menu-item-buttons"
                >
                  <button
                    (click)="deleteListById(list._id)"
                    mat-icon-button
                    color="warn"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button
                    (click)="deleteModeIsOn = false"
                    mat-icon-button
                    color="primary"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div *ngIf="dataFromTasks" class="task-list-container has-bg-light">
      <h1 class="title has-text-primary">Tasks</h1>
      <div *ngIf="dataFromTasks.length !== 0" class="tasks-container">
        <div
          *ngFor="let task of dataFromTasks; let i = index"
          class="task-container"
        >
          <div
            (click)="changeTaskState(task)"
            [class.complete]="task.done === true"
            class="task"
          >
            <div class="task-data-container">
              <div class="task-data-title-date">
                <p>{{ task.title }}</p>
                <p [ngStyle]="checkDate(task.dueDate)">
                  {{ task.dueDate | date : "MMM d, y, H:mm" }}
                </p>
              </div>
              <p
                #note
                class="note"
                [matTooltipDisabled]="!task.note || note.offsetWidth < 207"
                [matTooltip]="task.note ? task.note : 'test'"
                matTooltipPosition="above"
                matTooltipShowDelay="500"
              >
                {{ task.note }}
              </p>
            </div>
            <div class="task-action-buttons">
              <button
                mat-icon-button
                [routerLink]="['/edit-task', currentParams.listId, task._id]"
              >
                <mat-icon color="primary">edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteTask(task._id)">
                <mat-icon color="warn">delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="dataFromTasks.length === 0" class="tasks-container">
        <h1 class="title no-task-txt">
          <p>No tasks on this list.</p>
          <p class="is-size-7">Try to add one via the button above</p>
        </h1>
      </div>
      <button
        *ngIf="currentParams.listId"
        class="button is-primary add-task-btn"
        (click)="addNewTask()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div *ngIf="!dataFromTasks" class="task-list-container has-bg-light">
      <h1 class="title pick-list-txt">Pick list you would like to view.</h1>
    </div>
  </div>
</div>
