.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.signup-box {
  border-radius: 5px;
  padding: 3rem;
  background: white;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login-text {
  padding-top: 5rem;
}
