<div class="centered-content">
  <div class="signup-box">
    <h1 i18n="@@SignUp" class="title has-text-primary">Sign Up</h1>
    <form class="signup-form">
      <div class="signup-field">
        <mat-form-field>
          <mat-label i18n="@@YourEmail">Your E-mail here</mat-label>
          <input
            [formControl]="loginField"
            matInput
            type="email"
            placeholder="Email"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label i18n="@@YourPassword">Your password here</mat-label>
          <input
            [formControl]="passwordField"
            matInput
            type="password"
            placeholder="Password"
          />
        </mat-form-field>
      </div>
    </form>
    <div class="field is-pulled-right">
      <p class="control">
        <button
          i18n="@@CreateAcc"
          class="button is-success has-text-white"
          (click)="onSignUpButtonClick()"
        >
          Create an account
        </button>
      </p>
    </div>
    <div class="login-text">
      <p i18n="@@AlreadyHaveAcc">Already have an account?</p>
      <a i18n="@@ClickHere" [routerLink]="'/login'">Click here</a>
    </div>
  </div>
</div>
