<div class="centered-content">
  <div class="modal-box has-bg-light">
    <h1 class="title has-text-primary">Create a new list</h1>
    <div class="field has-addons">
      <div class="control">
        <form>
          <mat-form-field>
            <input
              matInput
              type="text"
              class="input"
              [formControl]="newListName"
            />
            <mat-error *ngIf="newListName.hasError('required')">
              This field is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </form>
      </div>
      <div class="control">
        <button
          class="button is-primary"
          [disabled]="newListName.hasError('required')"
          (click)="addNewList()"
        >
          Add
        </button>
      </div>
    </div>
    <button class="button is-primary new-list-button" routerLink="/">
      Go Back
    </button>
  </div>
</div>
