@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:wght@400;700&display=swap");

$blueish: #869ead;
$turqish: #30336b;

$light-turqish: #a1c0d4;
$dark-turqish: #3c464d;

$light: #f8f8f8;

//Bulma

.input:focus {
  border-color: transparent !important;
}

$family-sans-serif: "Nunito", sans-serif;
$primary: $turqish;
$link: $light-turqish;
$success: $turqish;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

//Globals

html {
  background: linear-gradient(to right top, $turqish, $blueish);
}

html,
body {
  height: 100%;
}

.has-bg-light {
  background: $light;
}
